{% extends "base.html" %}

{% block content %}
    <!-- Hero Section -->
    <section class="hero">
        <div class="container">
            <h1 class="hero-title">Facturas y control</h1>
        </div>
    </section>

    <!-- Main Content -->
    <section class="main-content">
        <div class="container">
            <div class="welcome-text">
                <p>¡Bienvenido a HelpTech-F, la solución ideal para la gestión eficiente de facturación en tu empresa! Nuestro sistema está diseñado para optimizar tus procesos, garantizando seguridad, rapidez y cumplimiento normativo.</p>
                <p>Con HelpTech-F, podrás gestionar tus facturas de manera sencilla e intuitiva, ahorrando tiempo y mejorando la productividad de tu negocio.</p>
            </div>
        </div>
    </section>
{% endblock %}